.section-skills,
.section-about-me,
.section-contact{
    padding: 5px;
    font-size: 18px;
    width: 100%;
    border: rgb(20, 148, 127) 3px solid;
}

.fa-3x {
    margin: 5px;
}

.shadow,
.card-title {
    text-shadow: 4px 4px 8px black;
}

.shadows {
    text-shadow: 2px 2px 4px grey;
}